[buildout]
develop = .
parts = test py omelette

[test]
recipe = zc.recipe.testrunner
eggs = bda.cache [test]

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = ${test:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
ignore-develop = True
#ignores = zope.filerepresentation